header{
    width: 100%;
    background-color: darkslategray;
    color: white;
    a{
        color: white;
    }
}
.header-top, .header-bottom{
    @include flex(row,wrap,space-between,center,2rem);
    font-size: 1.5rem;
    font-weight: 300;
    padding: 1rem 2rem;
} 
.header-top{
    border-bottom: 1px solid white;
}
.header-bottom{
    align-items: end;
}
.header-info, .header-social {
    @include flex(row,wrap,space-between,center,4rem);
    list-style: none;
}

.header-social {
    img{
        max-width: 2rem;
        max-height: 2rem;
    }
}
.menu-ppal{
    @include flex(row,wrap,flex-end,center,1rem);
}