header{
    width: 100%;
    background-color: darkslategray;
    color: white;
    a{
        color: white;
        text-decoration: none;
    }
    a:hover{
        color: $color-secundario;
    }
}
.contenedor-header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenido-header{
    max-width: 120rem;
    width: 100%;
}
.header-gral{
    @include flex(row,wrap,space-between,center,2rem);
    font-size: 1.5rem;
    font-weight: 300;
    i{
        padding-right: 1rem;
    }
} 

.header-top{
    @extend .header-gral;
    border-bottom: 1px solid white;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.header-bottom{
    @extend .header-gral;
    align-items: end;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.header-info, .header-social {
    @include flex(row,wrap,space-between,center,4rem);
    list-style: none;
}

.header-social {
    img{
        max-width: 2rem;
        max-height: 2rem;
    }
}
.menu-ppal{
    @include flex(row,wrap,flex-end,center,1rem);
}