main{
    /*background-color: lightblue;*/
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    h1,h2,h3{
        font-family: Poppins;
    }
}

.contenedor{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenido{
    max-width: 120rem;
    width: 100%;
    padding: 2rem;
}

.titulo-pagina{
    background-size: cover;
    background-repeat: no-repeat;
    padding: 22rem 0px 8rem 0px;
    background-position: center center;
    h1{
        font-size: 2rem;
        padding-left: 2rem;
    }
}

.breadcrumb{
    @include flex(row,wrap,flex-start,center,0.5rem);
    color: #272727;
    padding: 1rem 2rem; 
    background-color: #f6f6fc;
    font-size: 1.5rem;
    height: 5rem;
    border-bottom: 1px solid #e2e2e5;
    a{
        color: #272727;
    }
}

.fondo-azul{
    background-color: $fondo-azul;
    color: white;
}

.fondo-gris{
    background-color: $fondo-gris;
}

.galeria-de-3x2{
    @include grid(repeat(3,1fr),repeat(2,1fr),5rem,center,center);
    img{
        /*max-width: 30rem;
        max-height: 20rem;*/
        object-fit: cover;
        width: 32rem;
        height: 22rem;
    }
    h3{
        text-align: center;
    }
}

.galeria-de-3x1{
    @include grid(repeat(3,1fr),1fr,5rem,center,center);
}

.galeria-de-2{
    @include grid(45% 55%,1fr,5rem,center,center);
    justify-items: center;
}
.img2-en-1-col{
    @include grid(repeat(2,1fr),1fr,5rem,center,center);
    justify-items: center;
}

.galeria-de-clientes{
    @include grid(repeat(6,1fr),1fr,5rem,center,center);
    img{
        max-width: 12rem;
    }
}

.formulario{
    @include flex(column,wrap,flex-start,start,1rem);
}