@media (max-width:768px){
    .header-top{
        flex-direction: column;
        align-items: center;
    }
    .galeria-de-2{
        grid-template-columns: 1fr;
        // grid-template-rows: repeat(2,1fr);;
    }

    .galeria-de-clientes{
        display: grid; 
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    footer{
        align-items: flex-start;
    }
}